.Remove-Item-Job .Remove-Item-Job-Form {
    border-style: groove;
    position: absolute;
    bottom: 300px;
    z-index: 100;
    border-radius: 10px;
    height: 150px;
    width: 350px;
    left: 35%;
    font-weight: bold;
    text-align: left;
    background-color: white;
    display: none;
}

.Remove-Item-Job .Remove-Item-Job-Form p {
    margin: 20px 0 5px 20px;
}

.Remove-Item-Job .Remove-Item-Job-Form .exit-button {
    position: absolute;
    left: 330px;
    bottom: 130px;
}

.Remove-Item-Job .Remove-Item-Job-Form input {
    width: 88%;
    margin: 20px 0 5px 70px;
}

.Remove-Item-Job .Remove-Item-Job-Form .select-add-job-field {
    margin: 5px 0 5px 20px;
}

