.Work-Position-List {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 400px;
    overflow: auto;
}

.Work-Position-List label {
    cursor: pointer;
}

.Work-Position-List label:hover {
    color: rgb(255, 0, 0);
}

.Work-Position-List .Position-Branch-List {
    width: 70%;
    font-weight: bold;
    text-align: left;
}

.Work-Position-List .Position-Grand-List {
    flex: 1;
}

.Work-Position-List .Create-Edit-Pane {
    width: 30%;
}

.Work-Position-List .Create-Edit-Pane {
    text-align: left;
}

.Work-Position-List .Create-Edit-Pane p{
    font-weight: bold;
}

.Work-Position-List .Position-Grand-List {
    margin: 4px 0 4px 20px;
}

.Work-Position-List .Position-Grand-List input {
    cursor: pointer;
}

.Work-Position-List .Position-Grand-List .Position-Parent-List {
    margin: 4px 0 4px 32px;
}

.Work-Position-List .Position-Grand-List .Position-Parent-List .Position-Child-List {
    margin: 4px 0 4px 36px;
}