.Add-Job-Child {
    height: 100%;
    width: 99.8%;
    background-color: rgba(0, 0, 0, 0.8);
    border-style: groove;
    position: relative;
    bottom: 570px;
    opacity: 1;
    display: none;
}

.Add-Job-Child .Add-Job-Child-Form {
    border-style: groove;
    position: absolute;
    bottom: 300px;
    z-index: 100;
    border-radius: 10px;
    height: 320px;
    width: 500px;
    left: 10%;
    font-weight: bold;
    text-align: left;
    background-color: white;
    display: none;
}

.Add-Job-Child .Add-Job-Child-Form p {
    margin: 5px 0 5px 20px;
}

.Add-Job-Child .Add-Job-Child-Form .exit-button {
    position: absolute;
    left: 485px;
    bottom: 300px;
}

.Add-Job-Child .Add-Job-Child-Form input {
    width: 88%;
    margin: 5px 0 5px 20px;
}

.Add-Job-Child .Add-Job-Child-Form .select-add-job-child {
    margin: 5px 0 5px 20px;
}

.Add-Job-Child .Add-Job-Child-Form .select-add-job-child select {
    width: 93.5%;
    height: 21px;
}