.search-page {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}

.search-page label {
    font-weight: bold;
}

.search-page .search-div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    width: 28%;
}

.search-page .search-div-1 {
    width: 41%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.search-page .search-div-2 {
    width: 31%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.search-page .search-div-2 #input-date {
    width: 172px;
    height: 17px;
}